@model List<Product>

<head>
	<style>
		.card {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			max-width: 300px;
			margin: auto;
			text-align: center;
			font-family: arial;
		}

		.price {
			color: grey;
			font-size: 22px;
		}

		.card button {
			border: none;
			outline: 0;
			padding: 12px;
			color: white;
			background-color: #000;
			text-align: center;
			cursor: pointer;
			width: 100%;
			font-size: 18px;
		}

			.card button:hover {
				opacity: 0.7;
			}
	</style>
</head>


<script src="~/js/addToCart.js"></script>

@*Dette skal ligge her inde fordi jeg skal bruge USERID til at oprette en korrekt database*@
<script>
	let listOfIngredients = [];
	let userID;
	let data;

	function addToCart(id, name) {
		var liste = document.getElementById("purchaseList");

		// Opret et nyt listeelement
		var nytElement = document.createElement("li");

		// Tilføj tekst til det nye element
		var tekstNode = document.createTextNode(name);
		nytElement.appendChild(tekstNode);

		// Tilføj det nye element til den eksisterende liste
		liste.appendChild(nytElement);
		listOfIngredients.push(id);
		console.log(listOfIngredients);
		
	}
	console.log(@Context.Request.Cookies["userID"]);
	userID = @Context.Request.Cookies["userID"];
	function confirmPurchace() {

		listOfIngredients.unshift(parseInt(userID))

		

		console.log("dette er data + ", listOfIngredients);

		$.ajax({
			type: "POST",
			url: "/Home/Purchase",
			contentType: "application/json",
			data: JSON.stringify(listOfIngredients),
			success: function (response) {
				// Behandl svaret fra controlleren
				console.log("Data blev sendt succesfuldt til serveren.", listOfIngredients);
			},
			error: function (xhr, status, error) {
				// Håndter fejl, hvis noget går galt, men det gør det ikke truuust
				console.error("Fejl ved afsendelse af data til serveren:", error);
			}
		});
	}
</script>



<h1>Alkohol vi har på lager lige for tiden. Der er @Model.Count på lager</h1>
@*Når modellen skal tilgås skal model skrives med stort, af en eller anden grund*@

<input type="text" id="searchTerm" />
<button id="searchBtn" onclick="search()">Search</button>
<div id="searchResults"></div>

<div>
	<button onclick="confirmPurchace()">Tryk her for at købe følgende produkter</button>
	<ul id="purchaseList">
	</ul>
</div>
<div>
	<ul>
		@foreach(Product item in Model)
		{
		
				<div class="card">
					<img src="@item.imgURL" style="width:100%">
					<h1>@item.Name</h1>
					<p class="price">@item.Cost</p>
					<p>@item.Description</p>
				<p><button onclick="addToCart(@item.DBID, '@item.Name')">Add to Cart</button></p>
				</div>
		}
	</ul>
</div>