@model List<Product>

<head>
	<style>
		.card {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			max-width: 300px;
			margin: auto;
			text-align: center;
			font-family: arial;
		}

		.price {
			color: grey;
			font-size: 22px;
		}

		.card button {
			border: none;
			outline: 0;
			padding: 12px;
			color: white;
			background-color: #000;
			text-align: center;
			cursor: pointer;
			width: 100%;
			font-size: 18px;
		}

			.card button:hover {
				opacity: 0.7;
			}
	</style>
</head>

<script src="~/js/addToCart.js"></script>
<input type="text" id="searchTerm" />
<button id="searchBtn">Search</button>
<div id="searchResults"></div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

		$(document).ready(function () {
			$('#searchBtn').click(function () {
				var searchTerm = $('#searchTerm').val();

				$.ajax({
					url: '/Home/Search',
					type: 'POST',
					data: { searchTerm: searchTerm },
					success: function (response) {
						displaySearchResults(response);
					},
					error: function (xhr, status, error) {
						console.error(error);
					}
				});
			});

			function displaySearchResults(products) {
				console.log(products);
				var $resultsContainer = $('#searchResults');
				$resultsContainer.empty();

				
				var $card = $('<div class="card"></div>');
				var $img = $('<img src="' + products[0].imgURL + '" style="width:100%">');
				console.log(products[0].name);
				var $title = $('<h1>' + products[0].name + '</h1>');
				var $price = $('<p class="price">' + products[0].cost + '</p>');
				var $description = $('<p>' + products[0].description + '</p>');
				var $button = $('<button onclick="addToCart(' + products[0].dbid + ', \'' + products[0].name + '\')">Add to Cart</button>');

				$card.append($img);
				$card.append($title);
				$card.append($price);
				$card.append($description);
				$card.append($button);

				$resultsContainer.append($card);
			}
		});
</script>

<h1>Alkohol vi har på lager lige for tiden. Der er @Model.Count på lager</h1>
@*Når modellen skal tilgås skal model skrives med stort, af en eller anden grund*@

<div>
	<button onclick="confirmPurchace()">Tryk her for at købe følgende produkter</button>
	<ul id="purchaseList">
	</ul>
</div>
<div>
	<ul>
		@foreach(Product item in Model)
		{
		
				<div class="card">
					<img src="@item.imgURL" style="width:100%">
					<h1>@item.Name</h1>
					<p class="price">@item.Cost</p>
					<p>@item.Description</p>
				<p><button onclick="addToCart(@item.DBID, '@item.Name')">Add to Cart</button></p>
				</div>
		}
	</ul>
</div>